<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entry</title>
    {{> boots}}
    <script>
        function loadEntry() {
            let id = document.body.id; // I think this is VERY ugly, but it's the only way I could think of for this to work
            let xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState === 4 && this.status === 200) {
                    let entry = JSON.parse(this.responseText).entry;
                    document.title = entry.title +' | LabNote';
                    document.getElementById('title').innerHTML = entry.title + ` <small>(${entry.yield}%)</small>`;
                    document.getElementById('content').innerHTML = entry.body;
                }
            }
            xhttp.open('GET', `/entry/${id}`);
            xhttp.send();
        }

        window.onload = loadEntry;
    </script>
</head>
<body id="{{id}}">
    {{> nav}}
    <div class="container-fluid">
        <div id="title">{{entry.title}}</div>
        <div id="content">{{entry.body}}</div>
    </div>

</body>
</html>