<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My products | LabNote</title>
    {{> boots}}
    <script>
        function search(query) {
            // If there's no query, take it from the input field
            if (!query) {
                let input = document.getElementById('query');
                query = input.value;
            }
            let results = document.getElementById('results');

            let xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState === 4 && this.status === 200) {
                    printResults(JSON.parse(this.responseText));
                }
            }
            xhttp.open('GET', `/products/${query}`);
            xhttp.send();
        }

        function printResults(results) {
            console.log(results);
            let container = document.getElementById('product-list');
            let inner = '';

            let i = 0;
            console.log(results.products);
            inner += `<a class="btn btn-primary" href="/new/product">Add new product</a>`;
            results.products.forEach(product => {
                console.log(product._id);
                // let id = product._id;
                inner += `
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-6">
                            <h1>${product.name}</h1>
                        </div>
                        <div class="col-6">
                            <a class="btn btn-outline-primary" href="new/entry/${product._id}">+</a>
                            <button class="btn btn-outline-primary" onclick="loadEntries('${product._id}')">🕮</button>
                            <button class="btn btn-outline-danger" onclick="removeProduct('${product._id}', '${product.name}')">🗑</button>
                        </div>
                    </div>
                    <small class="text-muted">(${product.formula} - ${product.mass} g/mol)</small>
                </li>`;
            });
            container.innerHTML = inner;
        }

        function loadEntries(pid){
            let xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState === 4 && this.status === 200) {
                    printEntries(JSON.parse(this.responseText));
                }
            }
            xhttp.open('GET', `/${pid}/entries`);
            xhttp.send();

            // console.log();
        }

        function printEntries(results) {
            console.log(results);
            let container = document.getElementById('entry-list');
            let inner = '';

            let i = 0;
            console.log(results.entries);
            inner += ``;
            results.entries.forEach(entry => {
                inner += `<li class="list-group-item"><h3>${entry.title}</h3><small class="text-muted">Yield: ${entry.yield}%</small><br><a href="/read/${entry._id}">Read this entry</a></li>`; // For some unknown reason, it will fail if I put the product's id between double quotes.
            });
            container.innerHTML = inner;
        }

        function removeProduct(pid, pname) {
            let xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState === 4 && this.status === 200) {
                    console.log(JSON.parse(this.responseText).deletedProduct);
                    let deleted = JSON.parse(this.responseText).deletedProduct;
                    window.alert(`Removed: ${deleted.name}`);
                    search('*');
                }
            }
            xhttp.open('DELETE', `/remove/product/${pid}`);
            xhttp.send();
        }

        window.onload = search('*'); // Start by showing all products
    </script>
</head>
<body>
    {{> nav}}
    <div class="container">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">🔍</span>
            </div>
            <input autofocus="true" autocomplete="off" id="query" type="text" onkeyup="search()">
            {{!-- <button onclick="search()">search</button> --}}
        </div>

        <div class="row">
            <div class="col-6"><ul class="list-group"  id="product-list"><a class="btn btn-primary" href="/new/product">Add new product</a></ul></div>
            <div class="col-6"><ul class="list-group" id="entry-list"></ul></div>
        </div>
        <div class="row">
            <div class="col-6"></div>
        </div>
    </div>
</body>
</html>