<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product saved | LabNote</title>
    {{> boots}}
</head>
<body>
    {{> nav}}
    <div class="container-fluid">
        <div class="alert alert-primary">Product saved</div>
        <ul>
            <li>Name: {{product.name}}</li>
            <li>Formula: {{product.formula}}</li>
            <li>Molar mass: {{product.mass}}</li>
        </ul>
    </div>
</body>
</html>